.sel1{
    height:40px;
    width: 230px;
    border-color: aqua;
    font-size: 20px;
    
}

.input1{
    padding: 10px;
    font-size: 17px;
    border: 3px solid grey;
    width: 22%;
    background: #f1f1f1;
    margin:0px; 
}

}
.img1{
    height:50px;
    width: 50px;
}
.w1{
    height:45px;
    margin: 0%;
    padding: 0.3%;
    padding-bottom: -4px
}
.div1{
    display: inline;
}


.btn1{
    float:none;
    margin:0px;
    width: 50px;
    padding: 2%;
    color: white;
    font-size: 24.5px;
    border: 1px solid grey;
    border-left:navy; /* Prevent double borders */
    cursor: pointer;
    height: 2em;
    background: url(images/find.ico) no-repeat center;
    background-color: #2196F3;    


}
.btn1:hover {
    background-color: #0b7dda;
  }
 
.car1{
    border:solid 1px;
    border-color:gray;
    padding: 80px;
}
.menu ul li{

    display: flex;
}